body {
    font-family: Josefin Slab;
    text-align: center;
    color: var(--white);
    margin-top: 50px;
    background-color: #0e0319;
    overflow: visible;
}

:root {
    --darkpink: #0e0319;
    --lightpink: #e2b8ff;
    --white: #faebd7;
    --explanation_bg_color: #210b35;
}

.explained {
    width: 600px;
    text-align: left;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainTitle {
    font-family: Josefin Slab;
    font-size: 50px;
    margin-bottom: 3px;
}

.subTitle {
    font-family: Josefin Slab;
    font-size: 25px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 40px;
}


.context_para,
.main_context_para {
    position: relative;
    border-style: hidden;
    padding: 25px;
    border-radius: 5px;
    background-color: var(--explanation_bg_color);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Josefin Slab;
    font-weight: 300;
    margin-top: 15px;
}

.tag {
    padding: 1px 3px;
    color: var(--lightpink);
    border: none;
    background-color: var(--explanation_bg_color);
    font-size: 20px;
    font-family: Josefin Slab;
    font-weight: 300;

}

.tag:hover {
    color: var(--explanation_bg_color);
    background-color: var(--lightpink);
    padding: 3px 6px;
    border-radius: 2px;
    cursor: pointer;
}

input[type=text] {
    appearance: none;
    color: var(--white);
    background-color: var(--darkpink);
    outline: none;
    padding: 0px;
    font-family: Josefin Slab;
    border: none;
    border-bottom: 4px solid antiquewhite;
    font-weight: 700;
    margin: 0px;
    font-size: 20px;
    width: 40vw;
}

.run-button {
    background-color: var(--lightpink);
    color: var(--darkpink);
    border: none;
    border-radius: 3px;
    font-family: Josefin Slab;
    font-weight: 600;
    font-size: 20px;
    margin: 8px 0px;
    padding: 0px 20px;
    cursor: pointer;
}

.extra-info {
    background-color: var(--white);
    color: var(--explanation_bg_color);
    border: none;
    border-radius: 3px;
    font-family: Josefin Slab;
    font-weight: 600;
    font-size: 20px;
    /* margin: 8px 0px; */
    padding: 0px 20px;
    cursor: pointer;
    height: 44px;
}

.extra-info:hover {
    background-color: var(--explanation_bg_color);
    color: var(--white);
}

.run-button:hover {
    background-color: var(--darkpink);
    color: var(--lightpink);
}

.footer {
    font-family: Josefin Slab;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
    width: fit-content;
}

.hidden {
    display: none;
}

.titles {
    align-self: center;
}


::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(226, 184, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(33, 11, 53);
    /* border-radius: 4px; */
    width: 10px;

}

.context_title {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

.context_title_line {
    width: 100%;
    height: 1px;
    background-color: antiquewhite;
    margin-bottom: 15px;
    opacity: 0.5;
}

h4 {
    padding: 10px;
    margin: 0px;
}

.topboxfull {
    color: antiquewhite;
    background-color: #210b35;
    width: 70vw;
    border-radius: 5px;
    position: fixed;
    z-index: 10;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 15px 30px 10px;
}

.blur_effect {
    filter: blur(15px);
    transition: filter 0.5s ease;
    opacity: 0.4;
}

.close {
    position:absolute;
    top: 0.1vw;
    right: 2vw;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
    display: inline;
}

.inactive {
    opacity: 0.5;
}

.number {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 2px;
    color: var(--explanation_bg_color);
    font-size: 15px;
    font-weight: 700;
    width: 40px;
    text-align: center;
    display: inline-block;
    margin: 5px 10px 10px;
    cursor: pointer;
}

.numbers {
    /* display: inline; */
    width: fit-content;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

#main_content {
    height: 100vh;
}

#fullscreen {
    border-radius: 4px;
    border-color: var(--white);
    border-style: dashed;
    border-width: 3px;
    background-color: var(--darkpink);
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    opacity: 0.3;
}

#contextToggle, #wikiPhoneToggle{
    border-radius: 4px;
    background-color: var(--white);
    color: var(--explanation_bg_color);
    width: 39px;
    height: 39px;
    position: fixed;
    right: 0;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

#contextToggle, #contextUpdate{
    bottom: 49px;
}

#wikiPhoneToggle, #wikiPhoneUpdate{
    bottom: 98px;
}

#wikiPhoneToggle{
    display: none;
}


#contextInfo, #wikiPhoneInfo{
    border-radius: 4px;
    background-color: var(--explanation_bg_color);
    color: var(--white);
    border : 1px solid var(--white);
    position: fixed;
    right: 0;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;  
    text-align: left;
    width: 210px;
    height: 100px;
    padding: 12px ;
} 

#wikiPhoneInfo{
    bottom: 159px;
}

#contextInfo{
    bottom: 109px;
}


#contextUpdate, #wikiPhoneUpdate{
    border-radius: 4px;
    background-color: var(--white);
    color: var(--explanation_bg_color);
    width: 175px;
    height: 39px;
    position: fixed;
    right: 4vw;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    transition: opacity 1s ease-in-out;
    white-space: nowrap;
    display: none;
}

.fade-out {
    opacity: 0;
}


a {
    opacity: 0.6;
    text-decoration: none;
    color: var(--white);
}

a:hover {
    opacity: 1;
}

.square {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: var(--white);
    /* Blue color */
    animation: fade 1.5s infinite;
    border-radius: 5px;

}

.square:nth-child(1) {
    animation-delay: 0s;
}

.square:nth-child(2) {
    animation-delay: 0.5s;
}

.square:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

#generating {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 10px;
    background-color: var(--explanation_bg_color);
    margin-top: 6vw;
    border-radius: 5px;
}

#inline_wiki_assist {
    left: 20vw;
    position: absolute;
    margin-top: 0px;
    opacity: 0.3;
}

#inline_wiki_assist:hover {
    opacity: 0.8;
}

h3 {
    text-align: left;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}

#wiki-assist {
    border-radius: 3px;
    background-color: var(--white);
    width: 4vw;
    display: inline-block;
    padding: 2px;
    top: 2px;
    position: relative;
    cursor: pointer;
    height: 3vh;
    overflow: hidden;
    align-items: center;
    /* Ensure the inner div doesn't overflow */
}

#wikiToggle {
    border-radius: 3px;
    background-color: red;
    height: 80%;
    width: 2vw;
    margin: 1px;
    position: relative;
    left: 0.15vw;
    transition: left 0.5s;
    /* Add transition for smooth animation */
}

.info{
    border-radius: 20px;
    display:inline-block;
    background-color: inherit;
    border-width: 2px;
    border-color: var(--white);
    border-style: solid;
    color: var(--white);
    width: 1.15vw;
    height: fit-content;
    font-weight: 500;
    position: relative;
    bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

p.infoI{
    margin: 0;
}




@media only screen and (max-width: 800px) {
    .tag:hover {
        background-color: inherit;
        color: rgb(226, 184, 255);
    }

    .tag:active {
        color: #210b35;
        background-color: rgb(226, 184, 255);
    }

    .mainTitle {
        font-size: 30px;
    }

    .subTitle {
        font-size: 15px;
    }

    input[type=text] {
        width: 80vw;
        margin-right: 10px;
    }

    .explained {
        width: max-content;
    }

    .context_para,
    .main_context_para {
        margin: 5px 10px;
        width: 70vw;
        align-self: center;
    }

    .topboxfull {
        font-size: 15px;
    }

    .context_title {
        font-size: 20px;
    }
    #inline_wiki_assist{
        display: none;
    }
    #wikiPhoneToggle{
        display: block;
    }    
}
