body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.explained {
    /* width: 450px; */
    height: 300px;
    text-align: left;
    margin: auto;
    padding-top: 50px;
}

.context_para{
    padding-left: 10px;
    padding-right: 10px;
}