body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #faebd7;
    margin-top: 50px;
    background-color: rgb(14, 3, 25);
}

.explained {
    width: 600px;
    text-align: left;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainTitle {
    font-family: Josefin Slab;
    font-size: 50px;
    margin-bottom: 3px;
}

.subTitle {
    font-family: Josefin Slab;
    font-size: 25px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 40px;
}


.context_para,
.main_context_para {
    border-style: hidden;
    padding: 25px;
    border-radius: 5px;
    background-color: #210b35;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Josefin Slab;
    font-weight: 300;
}

.tag {
    padding: 1px 3px;
    color: rgb(226, 184, 255);
    border: none;
    background-color: #210b35;
    font-size: 20px;
    font-family: Josefin Slab;
    font-weight: 300;

}

.tag:hover {
    color: #210b35;
    background-color: rgb(226, 184, 255);
    padding: 3px 6px;
    border-radius: 2px;
}

input[type=text] {
    appearance: none;
    color: white;
    background-color: rgb(14, 3, 25);
    outline: none;
    padding: 0px;
    font-family: Josefin Slab;
    border: none;
    border-bottom: 4px solid antiquewhite;
    font-weight: 700;
    margin: 0px;
    font-size: 20px;
    width: 800px;

}

@media only screen and (max-width: 800px) {
    .mainTitle {
        font-size: 30px;
    }

    .subTitle {
        font-size: 15px;
    }

    input[type=text] {
        width: 80vw;
        margin-right: 10px;
    }

    .footer {
        margin-bottom: 5px;
        bottom: 5px;
    }

    .explained {
        width: max-content;
    }

    .main_context_para {
        margin: 5px;
        width: 70vw;
        align-self: center;
    }
}

.run-button {
    background-color: rgb(226, 184, 255);
    color: rgb(33, 11, 53);
    border: none;
    border-radius: 3px;
    font-family: Josefin Slab;
    font-weight: 600;
    font-size: 20px;
    margin: 8px 0px;
    padding: 0px 20px;
}

.run-button:hover {
    background-color: rgb(33, 11, 53);
    color: rgb(226, 184, 255);
}

.footer {
    font-family: Josefin Slab;
    font-size: 20px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 30px;
    bottom: 10px;
    opacity: 0.4;
}

.hidden {
    display: none;
}

.titles {
    align-self: center;
}