<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8K3221X3ME"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        </script>

    <link rel="icon" href="/static/personal_wiki_icon.svg" sizes="any" type="image/svg+xml">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Context</title>

    <link rel="stylesheet" href="/static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="aboutbox" class="topboxfull hidden">
        <h2 class="context_title">ABOUT</h2>
        <div class="context_title_line"></div>
        <span id="close_about" class="close">&times;</span>
        <p>Welcome to <b>The Full Explanation!</b> <br><br>
            This website was designed to fix the problem of when you wish to understand a complicated
            term X, but the explanation itself has complicated terms A, B, C, D, E, F and
            so on. <br><br>Here, as you will notice, certain topics are highlighted in the generated explanation.
            Clicking those topics will generate an explanation of those topics (AB,C...) in the context of topic X.
            <br><br>
            What if the explanations of A,B,C have the same problem?<br>
            No worries, the same features still apply!<br>
        </p>
        <div class="numbers">
            <div class="number" id="one-about">
                <h4>1</h4>
            </div>
            <div class="number" id="two-about">
                <h4>2</h4>
            </div>
        </div>
    </div>
    <div id="helpbox" class="topboxfull hidden">
        <h2 class="context_title">HOW TO USE</h2>
        <div class="context_title_line"></div>
        <span id="close_help" class="close">&times;</span>
        <p> 1. Enter a topic from any domain, preferably mathematical / scientific / historic.
            If you sense your topic may have more than one meaning, add additional keywords to ensure
            you get the explanation you desire. Once you have clicked, give it ~10 seconds to generate.
            <br><br>
            2. Once your explanation is generated, you will observe that certain words are highlighted.
            If one of those words are a term you don't understand, you can click it to generate an
            explanation of that word in the context of the topic you seek to understand.
            <br><br>
            3. If that explanation has been generated, you are good to go! If you don't understand certain highlighted
            words in the new explanation, everything from
            step 2 still applies.
            <br><br>
            Additional Note: All new explanations of highlighted terms appear above the paragraph they
            were clicked from.
        </p>
        <div class="numbers">
            <div class="number" id="one-help">
                <h4>1</h4>
            </div>
            <div class="number" id="two-help">
                <h4>2</h4>
            </div>
        </div>
    </div>

    <div id="wikiInfoBox" class="topboxfull hidden">
        <h2 class="context_title">WIKI ASSIST</h2>
        <div class="context_title_line"></div>
        <span id="close_wiki" class="close">&times;</span>
        <p> 
            <b>Wiki Assist</b> is a feature that enables you to access accurate data that the LLM, used in this website, may not have been trained on. 
            True to its name, the feature runs a Wikipedia search on the closest webpage that matches your search and feeds 
            this data as additional context to generate a much better explanation.
            <br><br>
            <b>HOW TO USE:</b>
            <br>
            Click the red toggle and ensure it switches to green. Type in your topic, preferably with more keywords to ensure the 
            Wikipedia search accuracy increases and hit GENERATE as usual. <br> <br> For example, if you wish to know about 
            Python(the snake) instead of Python(the programming language), then type: <br> 'python snake'
            <br><br>
            If you get an explanation that links to the wrong Wiki page, no worries! I've got you! <br> <br>
            Check the section below your explanation for related wiki pages that weren't chosen as context.
            If one of them matches what you want, click it to update the context and regenerate the explanation. <br>  
        </p>
    </div>
    <div id="main_content">
        
        <div class="titles">
            <h1 class="mainTitle">THE FULL EXPLANATION</h1>
            <h2 class="subTitle">Never open another tab again.</h2>
        </div>
        <input type="text" id="user-input" style="height: 44px;" placeholder="ENTER TOPIC, E.G. POLGAR">
        <button id="run-btn" class="run-button">GENERATE</button>
        <button class="extra-info" id="extra-info">HELP</button>

        <br style="display: block;">
        <div id= "inline_wiki_assist">
            <h3>ENABLE WIKI-ASSIST</h3>
            <div id="wiki-assist"><div id="wikiToggle"></div></div> 
            <div id="wikiInfo" class="info"><p class="infoI">i</p></div>   
        </div>

        <div id="generating">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>

        <div id="explanation" class="explained">
            <p class="context_para hidden"></p>
            <div id="main_explanation" class="main_context_para hidden"><p></p>
            </div>
        </div>

        <div class="footer">
            <h4>made by <a href="https://www.instagram.com/sharatj_2/">@sharatj_2</a><br><a
                    href="https://buymeacoffee.com/sharatj_2">buy me a coffee!</a></h4>
        </div>
    </div>

    <div id="customContext" class="toggle"><p class="centered_para_in_div">CUSTOM CONTEXT</p></div>

    <div id="customContextInput" class="toggle hidden">
        <p class="customPara">Explain:</p>
        <input type="text" id="customContextTopic" class="customInputs">
        <p class="customPara">in context of:</p>
        <input type="text" id="customMainTopic" class="customInputs">
        <div id="customGenerate"><p class="centered_para_in_div">GENERATE</p></div>
    </div>

    <div id="wikiMode" class="toggle"><p class="centered_para_in_div">M</p></div>

    <div id="wikiPhoneInfo" class="hidden"><p style="width: inherit" class="centered_para_in_div">Adds a Wiki page that is closest to your topic as additional context for the LLM.</p></div>
    <div id="wikiPhoneUpdate"><p class="centered_para_in_div">Wiki Enabled</p></div>
    <div id="wikiPhoneToggle" class="toggle"><p class="centered_para_in_div">W</p></div>

    <div id="contextInfo" class="hidden"><p style="width: inherit" class="centered_para_in_div">Enable/Disable context for new generated explanations. Context, here, means to generate an explanation in the context of another.</p></div>
    <div id="contextUpdate"><p class="centered_para_in_div">Context Enabled</p></div>
    <div id="contextToggle" class="toggle"><p class="centered_para_in_div">C</p></div>

    <div id="fullscreen"></div>

    <script src="/static/scripts.js"></script>
</body>

</html>