<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understand In Context</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Understand In Context</h1>
    <input type="text" id="user-input" style="height: 44px;" placeholder="Enter text">
    <button id="run-btn" style="height: 50px;">Generate</button>
    <div id="explanation" class="explained">
        <p id="main_explanation" class="context_para"></p>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>